
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Medium.eot');
    src: local('/fonts/SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('/fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('/fonts/SFProDisplay-Medium.woff') format('woff'),
        url('/fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Heavy.eot');
    src: local('/fonts/SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
        url('/fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFProDisplay-Heavy.woff2') format('woff2'),
        url('/fonts/SFProDisplay-Heavy.woff') format('woff'),
        url('/fonts/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Light.eot');
    src: local('/fonts/SF Pro Display Light'), local('SFProDisplay-Light'),
        url('/fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('/fonts/SFProDisplay-Light.woff') format('woff'),
        url('/fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Bold.eot');
    src: local('/fonts/SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('/fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('/fonts/SFProDisplay-Bold.woff') format('woff'),
        url('/fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Black.eot');
    src: local('/fonts/SF Pro Display Black'), local('SFProDisplay-Black'),
        url('/fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFProDisplay-Black.woff2') format('woff2'),
        url('/fonts/SFProDisplay-Black.woff') format('woff'),
        url('/fonts/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Ultralight.eot');
    src: local('/fonts/SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
        url('/fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('/fonts/SFProDisplay-Ultralight.woff') format('woff'),
        url('/fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Semibold.eot');
    src: local('/fonts/SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('/fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('/fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('/fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Regular.eot');
    src: local('/fonts/SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('/fonts/SFProDisplay-Regular.woff') format('woff'),
        url('/fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    @apply font-sf-pro;
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  }
p{
    opacity: 70%;
}
img{
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.1;
}
.Footer_links_col:nth-child(2) .flex-col {
    flex-wrap: wrap;
    flex-direction: row;
}
.Footer_links_col:nth-child(2) .flex-col a {
    width: 50%;
}
.section_head .right_text_col p {
    width: 100%;
    max-width: 452px;
    margin-left: auto;
}
.footer__links_grid .Footer_links_col:nth-child(2) {
    flex-basis: 34%;
}
.vertical_center_line {
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    left: 0px;
    right: 0px;
    margin: auto;
}
.icon_list a {
    display: block;
    width: 100%;
    text-align: center;
}

.logos_slider .slick-track {
    display: flex;
    align-items: center;
}
.dev_process-container .process_col:nth-of-type(1), .dev_process-container .process_col:nth-of-type(2) {
    border-top-width: 0px;
}
.dev_process-container .process_col {
    border-top-width: 1px;
}
.process_col .process_grid {
    border-left-width: 1px;
}
.process_col:nth-child(odd) .process_grid {
    border-left-width: 0px;
}


.dev_card_row.flex .slick-track {
    display: flex;
}
.dev_card_row.flex .slick-track .slick-slide {
    height: auto;
}
.dev_card_row.flex .slick-track .slick-slide > div {
    height: 100%;
}
.dev_card_row.flex .slick-track .slick-slide > div .dev_card_col {
    height: 100%;
    padding: 0 10px;
}
.dev_card_row.flex .slick-list.draggable {
    overflow: visible;
}

ul.section_ulli li {
    margin-bottom: 20px;
}
.heading-opacity{
    opacity: 30%;
}
.section_ulli {
    padding: 0px;
    margin: 10px 0px;
}

.section_ulli li {
    position: relative;
    list-style: none;
    padding-left: 26px;
}

.section_ulli li:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 10px;
    height: 10px;
    width: 10px;
    background-color: #4253ff;
    border-radius: 50%;
}
.inner_page {
    background-size: 100%;
    background-position: center top -480px;
}
.portfolio_box {
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.02);
    width: 100%;
}

.portfolio_col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.portfolio_box .box_logo {
    height: 40px;
}

.portfolio_box .box_logo img {
    height: 100%;
    width: auto;
    max-width: 300px;
    object-fit: contain;
}
.box_logo img {
    height: 100%;
    object-fit: contain;
}
.portfolio_box .box_text {
    margin-top: 30px;
}

.grid_logo {
    display: block;
    margin: 30px 0px;
    position: relative;
    background-position: center;
    background-size: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_logo img {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    height: 130px;
}
.portfolio_box .box_text h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 0px 0px 5px;
    display: block;
}
.box_text a img {
    width: auto;
    height: auto;
    max-width: 163px;
}
.box_text a {
    display: block;
    padding: 10px 0px;
}
.locations_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 0px;
    width: 100%;
    max-width: 1020px;
    margin: auto;
}
.locations_grid .location_col {
    width: 25%;
    padding: 0px 20px;
}
.location_box {
    display: flex;
    align-items: center;
}
.location_box .location_thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 0px;
    min-width: 40px;
}
.location_box .location_thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;
    transition: all 0.3s linear;
}
.location_box .location_text {
    width: calc(100% - 40px);
    padding-left: 15px;
}
.location_box .location_text  h3 {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}
.location_box:hover .location_thumb img {
    mix-blend-mode: normal;
}
.text_col_form {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 15px;
}
.text_col_form .form_title {
    padding: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}
.text_col_form .form {
    padding: 30px;
}
.text_col_form .form_title h3 {
    font-size: 18px;
    font-weight: 600;
}

.form_group label {
    font-size: 14px;
    color: #ffffff;
    opacity: 70%;
    margin: 0px 0px 10px;
}

.form_group .cta {
    background-color: #4353FF;
    border: 1px solid #4353FF;
    padding: 11px 36px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s linear;
}
.form_group .cta:hover {
    color: #4353FF;
    background-color: #ffffff;
    border-color: #ffffff;
}
.banner_image_col  img {
    min-width: 580px;
}

.form_group input, .form_group textarea, .form_group select {
    padding: 10px 20px;
    background-color: #111218;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.form_group .file-upload-label{
    padding: 10px 20px;
    background-color: #111218;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    height: 117px;
    opacity: 1;
}
.form_group input:focus, .form_group textarea:focus, .form_group select:focus {
    outline: none;
}
.address_box {
    display: flex;
    margin-bottom: 20px;
}
.form_pagemain {
    background-position: center bottom 20px;
}
.address_box .address_icon {
    min-width: 18px;
}
.address_box .addrs-text {
    width: calc(100% -  18px);
    padding-left: 10px;
    max-width: 200px;
}

.addrs-text h4, .addrs-text p a {
    color: #ffffff;
    opacity: 1;
    font-weight: 700;
    font-size: 16px;
    display: block;
    margin: 0px 0px 5px;
}

.text_col_left .addrs-text p {
    font-size: 14px;
    line-height: 1.5;
}
.address_box:last-child p {
    opacity: 1;
}
.form_row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0px;
    margin-left: -10px;
    margin-right: -10px;
}
.form_row .form_col {
    padding: 0px 10px;
    width: 100%;
}
.form_row .form_col.w-50 {
    width: 50%;
}
/* .servicepage_banner img.bubble_bg {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 0px;
    width: 100%;
} */

img.top_left_blue {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    max-width: 55%;
}
.benefit-box ul {
    list-style: none;
    margin: 10px 0px;
}

.benefit-box ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
}

.benefit-box ul li:before {
    content: "";
    height: 8px;
    width: 8px;
    background-color: #4353FF;
    position: absolute;
    left: 0px;
    top: 7px;
    border-radius: 50%;
}
.skills_page .text-section {
    max-width: 100%;
}

.banner_row {
    display: flex;
    align-items: center;
}
.banner_row .banner_text_col {
    width: 50%;
}
.banner_row  .banner_image_col {
    width: 50%;
    padding-left: 30px;
}
.hero_banner.new_banner {
    padding-bottom: 100px;
}
.text_col_left p {
    font-size: 22px;
    margin: 0px 0px 15px;
}
.text_col_left  p.bold {
    font-weight: 700;
    opacity: 1;
}



@media(min-width:1024px){
.nav_div {
    background-color: transparent !important;
}
}


@media(max-width:1500px){
    .site_header .container {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .text_col_left p {
        font-size: 18px;
        margin: 0px 0px 10px;
    }
}



@media(max-width:1199px){
    .text_col_left p {
        font-size: 15px;
    }
.footer__links_grid .Footer_links_col {
    flex-basis: 50%;
}
.footer__links_grid .Footer_links_col:nth-child(2) {
    flex-basis: 50%;
}
.Footer_links_col:nth-child(2) .flex-col a {
    WIDTH: 100%;
}
.card_grid {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}
.card_grid .card_box_col {
    max-width: 100% !important;
}
.locations_grid .location_col {
    width: 33.33%;
}
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1199px) { 
    .nav_div > ul>li>a, .nav_div > ul>li>button {
        font-size: 14px !important;
    }
}

@media(max-width:1023px){
    .banner_row.flex {
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }
    .banner_row .banner_image_col {
        width: 100%;
        padding: 0px;
    }
    .banner_row .banner_text_col {
        width: 100%;
    }
    .banner_image_col img{
        width: 100%;
        min-width: inherit;
    }
.header_wrapper .logo_div {
    flex-basis: 50px !important;
}

.header_wrapper .button_col {
    flex-basis: calc(100% - 50px);
}
.header_wrapper .button_col {
    flex-basis: calc(100% - 48px);
}
}

@media(max-width:1024px){
.header_wrapper .nav_div .submenu_flex {
    flex-direction: column;
}
.benefits-section .dev_process-container .process_col .process_card {
    flex-direction: column;
    padding-left: 20px;
}
}
@media(max-width:992px){
.locations_grid .location_col {
    width: 50%;
}
.form_page .page_row {
    flex-direction: column;
    gap: 30px 0px;
}

.form_page .page_row .page_col {
    width: 100% !important;
}

}

@media(max-width:767px){
    .text_col_left p {
        font-size: 14px;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .locations_grid {
        gap: 20px 0px;
    }
    
    .locations_grid .location_col {
        padding: 0px 5px;
    }
    
    .location_box .location_text {
        padding-left: 8px;
    }
    
    .location_box .location_text h3 {
        font-size: 15px;
    }
}

@media(max-width:575px){
.startup_section img {
    max-width: 60px;
    width: 100%;
}
.footer_wrapper .footer_links_wrapper .footer_logo_col {
    flex-direction: column;
}
.location_box .location_text {
    padding-left: 0px;
}

.location_box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 9px;
}
}